{% extends 'public/index.html' %}
{% block body %}

<div class="portlet box grey tasks-widget">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>{{ page_name2 }}
        </div>
    </div>
    <div class="portlet-body">
<!-- vue -->
    {% verbatim a %}
        <div id="app">
            <datatable></datatable>
        </div>
    </div>
</div>


<template id="tmp1">
    <div>
    <!-- 数据表 -->
<!--      <el-col :span="6"><el-button type="Success" size="mini" @click="handleAdd">添加</el-button></el-col>-->
      <el-col :span="4" :offset="20"><el-input
          clearable
          v-model="keywords"
          size="mini"
          ref="search_bar"
          placeholder="输入关键字搜索"></el-input></el-col>

      <el-table
        :data="searchData(keywords)"
        @sort-change="changeTableSort"
        border
        stripe
        height="590px"
        style="width: 100%">
        <el-table-column
          sortable
          min-width="130"
          label="资产编号"
          prop="new_asset_number"
          width="">
        </el-table-column>
        <el-table-column
          sortable
          min-width="110"
          label="设备型号"
          prop="model">
        </el-table-column>
        <el-table-column
          sortable
          min-width="130"
          label="设备序列号"
          prop="sn">
        </el-table-column>
        <el-table-column
          sortable
          min-width="110"
          label="组织实体"
          prop="organization">
        </el-table-column>
        <el-table-column
          sortable
          min-width="100"
          label="使用人"
          prop="owner">
        </el-table-column>
        <el-table-column
          sortable
          min-width="110"
          label="使用部门"
          prop="owner_department">
        </el-table-column>
        <el-table-column
          sortable
          min-width="110"
          label="使用情况"
          prop="is_use">
        </el-table-column>
        <el-table-column
          sortable
          min-width="110"
          label="成本中心"
          prop="cost_center">
        </el-table-column>
        <el-table-column
          sortable
          min-width="100"
          label="盘点人"
          prop="checker">
        </el-table-column>
        <el-table-column
          sortable
          min-width="190"
          label="创建时间"
          prop="create_time"
          width="">
        </el-table-column>
      </el-table>
        <el-pagination
          background
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="currentPage"
          :page-sizes="[10, 25, 50, 100]"
          :page-size="pageSize"
          layout="sizes, total, prev, pager, next, jumper"
          :total="search(keywords).length">
        </el-pagination>
    </div>
</template>


{% endverbatim a %}
<script src="/static/custom/js/vue.min.js"></script>
<script src="/static/custom/js/vuex.js"></script>
<!--
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
-->
<script src="/static/custom/js/index.js"></script>
<script src="/static/custom/js/axios.min.js"></script>

<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"/>


<script>
    var store = new Vuex.Store({
      state: {
        keywords: localStorage.getItem("keywords") || '',
      },
      mutations:{
        set(state,info){
          localStorage.setItem('keywords', info); //将传递的数据先保存到localStorage中
        }
      }
    })

    var vm = new Vue({
        // 绑定对象
        el:'#app',
        data:{
        },
        methods:{
        },
        components: {
            datatable: {
                template: '#tmp1',
                data() {
                    return {
                        tableData: [],
                        keywords: this.$store.state.keywords,
                        currentPage: 1,
                        pageSize: 10,
                        dialogFormVisible: false,
                        form: {
                          id: '',
                          task_name: '',
                          task_desc: '',
                          task_type: '',
                          target: '',
                          task_cmd: ''
                        },
                        formLabelWidth: '25%'
                    }
                },
                ready: function () {

                },
                methods: {
                    searchData(keywords) {
                        //处理分页显示
                        let newList = this.search(keywords)
                        let tableDataSlice = newList.slice(this.currentPage * this.pageSize - this.pageSize,
                            this.currentPage * this.pageSize);
                        if (tableDataSlice.length == 0){
                            //当搜索栏为空自动切回第一页
                            this.currentPage = 1
                        }
                        this.$store.commit('set',keywords)
                        return tableDataSlice
                    },
                    search(keywords) {
                        //数据搜索
                        let newList = this.tableData.filter(item=>{
                            if(item.new_asset_number.includes(keywords)){
                                return true
                            }
                        });
                        return newList
                    },
                    handleSizeChange(val) {
                        //每页显示几行按钮
                        this.pageSize = val
                    },
                    handleCurrentChange(val) {
                        //跳转第几页按钮
                        this.currentPage = val
                    },
                    handleClose(done) {
                        //对话框关闭确认
                        this.$confirm('确认关闭？')
                          .then(_ => {
                            done();
                          })
                          .catch(_ => {});
                    },
                    notify(code, msg){
                        //消息提示
                        if (code == 0){
                            var title = '成功'
                            var type = 'success'
                        }else if (code == 1){
                            var title = '错误'
                            var type = 'error'
                        }
                        this.$notify({
                          title: title,
                          message: msg,
                          type: type,
                          offset: 37,
                          showClose: false
                        });
                    },
                    key_sort(column) {
                        return function (obj1, obj2) {
                            var val1 = obj1[column];
                            var val2 = obj2[column];
                            if (val1 < val2) {
                                return -1;
                            } else if (val1 > val2) {
                                return 1;
                            } else {
                                return 0;
                            }
                        }
                    },
                    changeTableSort(column){
                        //排序按钮
                        localStorage.setItem('column', JSON.stringify(column));
                        if (! column.order){
                            this.tableData = JSON.parse(localStorage.getItem("tableData"))
                        }else {

                            if (column.order === 'ascending') {
                                this.tableData = this.tableData.sort(this.key_sort(column.prop))
                            } else if (column.order === 'descending') {
                                this.tableData = this.tableData.sort(this.key_sort(column.prop)).reverse()
                            }
                        }
                    },
                    post_data(url, data) {
                        //axios异步请求
                        var _this = this;
                        axios({
                            method: 'POST',
                            headers: {
                                'X-CSRFtoken': '{{ csrf_token }}'
                            },
                            url: url,
                            data: data
                        })
                        .then(function (response) {
                            if (response.data.code == -1) {
                                _this.tableData = response.data.tableData;
                                if (data){
                                    localStorage.setItem('tableData', JSON.stringify(_this.tableData))
                                }
                                _this.changeTableSort(JSON.parse(localStorage.getItem("column")))
                            }
                            if (response.data.code == 0) {
                                _this.post_data('/asset/table_data/',{})
                                _this.notify(response.data.code, response.data.msg)
                            }
                            if (response.data.code == 1) {
                                _this.notify(response.data.code, response.data.msg)
                            }
                        })
                            .catch(function (error) {
                                _this.notify(1, error)
                            })
                    },
                    handleAdd(index, row) {
                        //编辑按钮
                        this.form = {
                          id: '',
                          task_name: '',
                          task_desc: '',
                          task_type: '',
                          target: '',
                          task_cmd: ''
                        };
                        this.dialogFormVisible = true
                    },
                    handleEdit(index, row) {
                        //编辑按钮
                        this.form = {
                          id: row.id,
                          task_name: row.task_name,
                          task_desc: row.task_desc,
                          task_type: row.task_type,
                          target: row.target,
                          task_cmd: row.task_cmd
                        };
                        this.dialogFormVisible = true
                    },
                    handleDelete(index, row) {
                        //删除按钮
                        this.$confirm('确认删除？')
                          .then(_ => {
                            data = { id: row.id };
                            this.post_data('/task_table_del/',data)
                          })
                          .catch(_ => {});
                    },
                    save() {
                        //添加按钮
                        let data = {
                            id: this.form.id,
                            task_name: this.form.task_name,
                            task_desc: this.form.task_desc,
                            task_type: this.form.task_type,
                            target: this.form.target,
                            task_cmd: this.form.task_cmd
                        };
                        this.post_data('/task_table_save/',data)
                        this.dialogFormVisible = false
                    }
                },
                created(){
                    //数据函数加载完成后
                    this.post_data('/asset/table_data/',{})
                },
                mounted(){
                    //网页完全显示后
                    this.$refs.search_bar.focus()
                    this.changeTableSort({prop: 'create_time', order: 'descending'});
                },
                store: store
            }
        }
    })

</script>



{% endblock %}
